.Skill {
    display: inline-block;
    width: fit-content;
    font-family: inherit;
    font-size: inherit;
    margin: 0.3rem;
    padding: .3rem .6rem;
    font-weight: 700;
    background-color: black;
    color: #15dfbc;
    border-radius: 30px;
    cursor: auto;
}