.SkillSummary {
  padding: 0.8rem;

  &__list {
    @include media-query($medium-up) {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 1rem;
    }
  }

  &__listItem {
    margin-bottom: 1rem;
  }
}
