.Projects {
    &__list {
        @include media-query($medium-up) {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(100px, max-content));
            gap: 15px;
        }
    }
}