.Header {
    background-color: #000;
    color: white;
    box-shadow: 0 1px 3px 1px #ccc;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}